<div class="card-body" "shadow-lg p-3 mb-5 bg-body rounded">
  <div  class="col-md-12">
    <br>
    <br>
  </div>
  <div class="list-group" id="myList" role="tablist">

    {% if path == 'home' %}
      <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="{% url 'index' %}" role="tab">Главная</a>
    {% else %}
      <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="{% url 'index' %}" role="tab">Главная</a>
      {% endif %}

    <a class="list-group-item list-group-item-action disabled" data-bs-toggle="list" href="#home" role="tab">Группы</a>

    <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="{% url 'my_follows' %}" role="tab">Мои подписки</a>

    {% if user.is_authenticated %}
      {% if my_profile %}
        <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="{% url 'profile' user.username %}" role="tab">Мой профиль</a>
      {% else %}
        <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="{% url 'profile' user.username %}" role="tab">Мой профиль</a>
      {% endif %}
    {% else %}
      <a class="list-group-item list-group-item-action disabled" data-bs-toggle="list" href="{% url 'index' %}" role="tab">Мой профиль</a>
    {% endif %}

    <a class="list-group-item list-group-item-action disabled" data-bs-toggle="list" href="#messages" role="tab">Сообщения</a>

    <a class="list-group-item list-group-item-action disabled" data-bs-toggle="list" href="#settings" role="tab">Настройки</a>
  </div>
</div>