{% load static %}

<div class="card-body">
  <div class="row">
    <div class="col-md-3">
      <img src="{% static 'img/male_user.jpg' %}" width="50" height="50" class="d-inline-block align-top" alt="">
    </div>
    <div class="col-md-9">
      <strong class="d-block text-gray-dark">{{ user.get_full_name }}</strong>
      <a class="card-link" href="{% url 'posts:profile' user.username %}">
        <strong class="d-block text-gray-dark">@{{ user.username }}</strong>
      </a>
    </div>
    <a class="card-link" href="{% url 'posts:profile' user.username %}">Написать сообщение</a>
  </div>
</div>