{% extends "base.html" %}
{% block title %} Записи сообщества {{ group.title }}{% endblock %}
{% block header %} Записи сообщества {% endblock %}
{% block content %}
{% load thumbnail %} 

<main role="main" class="container">
<div class="row">
<div class="col-md-3 mb-3 mt-1">
    <div class="card">
            <div class="card-body">
                    <div class="h2">
                        {{ group.title }}
                    </div>
                    <div class="h5 text-muted">
                        {{ group.description|linebreaksbr }}
                    </div>
            </div>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                            <div class="h6 text-muted">
                                Подписчиков: XXX <br />
                            </div>
                    </li>
                    <li class="list-group-item">
                            <div class="h6 text-muted">
                                Записей: {{ group.posts.all.count }}
                            </div>
                    </li>
            </ul>
        </div>
</div>

    <div class="col-md-9">  
        {% for post in page %}
            {% include 'post_item.html' with page=page %}
        {% endfor %}

        {% include 'paginator.html' %}
    </div>
</div>
</main>

{% endblock %}