{% extends "base.html" %}
{% block title %}Просмотр поста{% endblock %}
{% block header %}Просмотр поста{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
               {% include 'author_card.html' with author=author %} 
               
        <div class="col-md-9">
            {% include 'post_item.html' with post=post %}
        </div>
    </div>
    {% include 'comments.html' with comments=post.comments.all comment_form=comment_form post=post %}
</main>
{% endblock %}